{
    "TOKEN": "ODU4NjYzMDg5MjQ2MzA2MzA1.YNhaUQ.VWxDze502qQfl9XfYmprOIM3MmA",
    "LOG_URL": "https://logviewername.herokuapp.com/",
    "GUILD_ID": 1234567890,
    "OWNERS": "Owner1ID,Owner2ID,Owner3ID",
    "MONGO_URI": "mongodb+srv://mongodburi"
}
